body {
    font-family: 'Lora', serif;
}

.jumbotron {
    background-color: darkblue;
    text-align: center;
    color: white;
}

.btn {
    background-color: darkblue;
    border: darkblue;
}

.input-error {
	border: 2px solid rgba(255, 0, 0, 0.5);
}